/*CSS*/

@font-face {
    font-family: light;
    src: url(BebasNeueLight.otf);
}

@font-face {
    font-family: curv;
    src: url(curv.otf);
}

@font-face {
    font-family: radical;
    src: url(radicalblock.ttf);
}

@font-face {
    font-family: bernand;
    src: url(BERNHC.TTF)
}

@font-face {
    font-family: agency;
    src: url(AGENCYR.TTF)
}

#h1-nube {
    font-family: light;
    font-weight: bold;
    color: black;
    word-spacing: 2rem;
    font-size: 5rem;
}


/* ---------------Skills and competences-------------- */

@font-face {
    font-family: gothic;
    src: url(GOTHIC.TTF)
}

@font-face {
    font-family: agency;
    src: url(AGENCY.TTF)
}

@font-face {
    font-family: bernand;
    src: url(BERN.TTF)
}

@font-face {
    font-family: radical;
    src: url(radical.ttf)
}

.skillsandcompetences {
    background-image: url("img/wall.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* ---------------FIN Skills and competences-------------- */

.navbar {
    width: 100%;
    border: 0;
    border-radius: 0;
    background: none !important;
    font-family: light;
    font-size: 33px;
}

img.centralicon {
    position: relative;
    width: 130px;
    float: center;
    margin-left: 0px;
    margin-right: 0px;
}

.nav-link {
    font-size: 80%;
    font-weight: bold;
    text-decoration: overline;
}

.navbar-nav>li {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-nav>li {
    margin-left: 0px;
    margin-right: 0px;
    color: white !important;
    padding-left: 0px;
    padding-right: 30px;
}

.footer {
    background: rgb(14, 6, 3);
    color: #fff;
    text-align: center;
    padding: 10px;
}

#AboutMe {
    clear: both;
    outline: 3px double rgb(102, 60, 104);
    margin-top: 2%;
}

#Meimag {
    float: right;
    background-color: rgb(255, 254, 254);
    margin-top: 2%;
}

#txtMe {
    float: left;
    margin-top: 10%;
    font-family: agency;
    text-align-last: justify;
    font-size: 150%;
}

.nextIcon {
    background-image: url('img/right-arrow-circular-buttonDE.png') !important;
    background-position: 0 0 !important;
}

.prevIcon {
    background-image: url('img/right-arrow-circular-buttonIZ.png') !important;
    background-position: 0 0 !important;
}

.row {
    margin-bottom: 2%;
    margin-top: 2%;
}

.uno {
    font-size: 15px;
}

.card-img-top {
    margin-bottom: 10px;
}

.dos {
    font-size: 15px;
}


/* .divMe {
    outline: 10px double rgb(102, 60, 104);
    margin-top: 30px;
} */

.reflex_text_l {
    position: absolute;
    top: 36%;
    left: 29%;
    width: 100%;
}

.reflex_text_r {
    position: absolute;
    top: 14%;
    left: 0%;
    width: 100%;
}

.reflex_img {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

#reflex_style_left {
    padding-right: 0px;
}

#reflex_style_right {
    padding-left: 0px;
}

.skills {
    font-family: agency;
    font-size: 150%;
}

.and {
    font-family: bernand;
    font-size: 150%;
    color: white;
}

.competences {
    font-family: agency;
    font-size: 150%;
}

.camino {
    font-family: agency;
    font-size: 100%;
}

.exito {
    font-family: radical;
    font-size: 130%;
    margin-left: 30%;
}

.skillcompetences_p1 {
    position: absolute;
    width: 75%;
    font-family: gothic;
    font-size: 79%;
    top: 45%;
    left: 23%;
    text-align: justify;
}

.skillcompetences_p2 {
    position: absolute;
    text-align: justify;
    width: 75%;
    font-family: gothic;
    font-size: 79%;
    top: 46%;
    left: 23%;
}


/* ----- */

.skillcompetences_p3 {
    position: absolute;
    text-align: justify;
    width: 65%;
    font-family: gothic;
    font-size: 54%;
    top: 26%;
    left: 9%;
}

.skillcompetences_p4 {
    position: absolute;
    text-align: justify;
    width: 65%;
    font-family: gothic;
    font-size: 54%;
    top: 33%;
    left: 9%;
}

.skillcompetences_p5 {
    position: absolute;
    text-align: justify;
    width: 65%;
    font-family: gothic;
    font-size: 54%;
    top: 40%;
    left: 9%;
}

.zoom {
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s !important;
    -moz-transition: width 2s, height 2s, -moz-transform 2s !important;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s !important;
    -o-transition: width 2s, height 2s, -o-transform 2s !important;
}

.zoom:hover {
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform: scale(2) !important;
    -moz-transform: scale(2) !important;
    /* Firefox */
    -webkit-transform: scale(2) !important;
    /* Chrome - Safari */
    -o-transform: scale(2) !important;
    /* Opera */
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 0, 0) !important;
}

.nube {
    width: 90% !important;
}

.btns {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 2rem 2rem;
    font-size: 2rem;
    transition: all .15s ease-in-out;
    border-radius: 100%;
    font-family: helvetica;
    color: white;
}

.RM {
    background-color: #DEA8AB;
    margin-right: 4rem;
}

.SC {
    background-color: rgb(172, 213, 199);
    margin-right: 4rem;
}

.SF {
    background-color: rgb(169, 155, 217);
    margin-right: 4rem;
}

.FC {
    background-color: rgb(246, 154, 91);
}

.btns:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}


/* ---------------Abstract-------------- */

.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.761);
    border-radius: 0%;
}

.lead {
    font-family: "gothic";
    font-size: 130%;
    font-weight: 400;
    line-height: 1.5;
    color: #f5f4fa;
    text-align: justify !important;
}

.display-3 {
    color: rgb(255, 255, 255);
    font-family: "light";
    text-align: center;
    margin-bottom: 0rem;
}

#jumbo {
    background-image: url("img/jumbotron.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* ---------------FIN Abstract-------------- */

.defcards {
    background-image: url("img/wall.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card-body {
    font-family: gothic;
    text-align: justify;
}

.card-header {
    font-family: light;
    font-size: 150%;
    font-weight: bold;
}

.text-dark {
    text-align: center !important;
}

#successC {
    background-image: url("img/wall.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* @media screen and(max-height: 768px) {
    #jumbo {
        margin-top: 30%;
    }
} */

#interv {
    background-image: url("img/BackInterv.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#voc {
    background-image: url("img/wall.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#clickme {
    background-image: url("img/clickme.png");
    background-repeat: repeat;
    background-size: 5%;
}

#inf {
    clear: both;
}

#h2Tips {
    float: left;
}

#btnInfografia {
    background-color: rgba(230, 255, 234, .7);
    border-color: rgb(0, 0, 0);
    font-weight: 200;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    padding: 4rem 4rem;
    font-size: 3rem;
    transition: all .15s ease-in-out;
    border-radius: 100%;
    font-family: light;
    margin-top: 3rem;
    float: right;
    max-height: 210px;
    max-width: 210px;
    padding-left: 0%;
    margin-right: 5%;
}

#h2Tips {
    float: left;
}

#tips {
    background-image: url("img/wall.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#job {
    background-image: url("img/wall.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}